ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #5e8557;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #5e8557;
  }

  .custom-button {
    color: #5e8557;
  }
  
  .custom-text{
    color: white;
  }
  