.Loading{
  text-align: center;
  padding: 25%;
}

ion-card {
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  padding-top: 10px;
}

ion-item{
  border-bottom: 2px solid ;
  color: rgb(86, 86, 86);
}

img{
  border-radius: 10px;
  padding-top: 4px;
}

ion-title{
  text-align: center;
 }

#articleTitle{
  font-weight: bold;
}

#desc,#date{
  font-size: 12px;
}
