<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Introduction</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Welcome to Money Morph App. By using this app, you agree to the following terms and conditions.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Use of the App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You may use the app for personal and non-commercial purposes only. Unauthorized use of this app may give rise to a claim for damages and/or be a criminal offense.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Content</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The content of the pages of this app is for your general information and use only. It is subject to change without notice.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Disclaimer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Your use of any information or materials on this app is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services, or information available through this app meet your specific requirements.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy Policy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>We are committed to protecting your privacy. Any personal information collected by this app will be used in accordance with our Privacy Policy.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acceptable Use</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You agree not to use the app in any way that causes or may cause damage to the app or impairs the availability or accessibility of the app.</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
